html {
  background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;
  font-size: 10px;
}

body,html {
  font-family: sans-serif;
  margin: 0;
  padding: 0; 
}

.keys {
  align-items: center;
  display: flex;
  flex: 1;
  min-height: 100vh; 
  justify-content: center;
}

.key {
  background: rgba(0,0,0,0.4);
  border: .4rem solid black;
  border-radius: .5rem;
  color: white;
  font-size: 1.5rem;
  margin: 1rem; 
  padding: 1rem .5rem;
  text-align: center;
  transition: all .07s ease;
  text-shadow: 0 0 .5rem black;
  width: 10rem;
}

.playing {  
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
  transform: scale(1.1);
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  color: #ffc600;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}
